---
import { getCollection, type CollectionEntry } from "astro:content";
import Base from "@/layouts/Base.astro";
import Card from "@/components/Card.astro";

import { css } from "styled-system/css";

const posts = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
) as CollectionEntry<"blog">[];
const latestPosts = posts.slice(0, 3);
---

<Base title='My portfolio' description='Welcome to my portfolio!'>
  <section
    class={css({
      width: "100%",
      maxWidth: "containerWidth",
      margin: "0 auto",
      display: "flex",
      flexDirection: "column",
      gap: "1rem",
      padding: "1rem",
    })}>
    <h3
      class={css({
        textStyle: "heading3",
        color: "purple.700",
        maxWidth: "containerWidth",
      })}>
      Hello!
    </h3>
    <p class={css({ textStyle: "body" })}>
      I’m Ala, a Full-Stack Software Engineer with a passion for building
      efficient, scalable applications that solve real-world challenges. My
      expertise lies in crafting seamless web experiences using technologies
      like React, NodeJS, NestJS, PostgreSQL, and MongoDB. I take pride in
      creating systems that not only function beautifully but also improve
      workflows and business processes. <br />
      <br />
      My approach always incorporates collaboration—whether it’s working with cross-functional
      teams or gathering user feedback to refine features. I’m driven by a desire
      to create impactful tools that are not only technically sound but also make
      life easier for the people who use them.
    </p>
  </section>

  <section
    class={css({
      width: "100%",
      maxWidth: "containerWidth",
      margin: "0 auto",
      display: "flex",
      flexDirection: "column",
      gap: "1rem",
      padding: "1rem",
    })}>
    <div
      class={css({
        display: "flex",
        alignItems: "center",
        justifyContent: "space-between",
        width: "100%",
      })}>
      <h3 class={css({ textStyle: "heading3", color: "purple.700" })}>Blog</h3>
      <a href='/blog/'>
        <span
          class={css({
            fontSize: "1.125rem",
            lineHeight: "140%",
            fontWeight: "semibold",
            // borderBottom: "2px solid transparent",
            _hover: {
              borderBottom: "2px solid",
            },
          })}>
          All articles
        </span>
      </a>
    </div>

    <ul
      class={css({
        display: "flex",
        flexDirection: { base: "column", md: "row" },
        flexWrap: "wrap",
        gap: "1rem",
        "& > li": {
          flex: "1 1 calc(33.333% - 1rem)",
          minWidth: "calc(33.333% - 1rem)",
          height: "auto",
          _hover: {
            boxShadow: "cardShadow",
            borderRadius: "0.5rem",
          },
        },
      })}>
      {
        latestPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <Card
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <section
    class={css({
      width: "100%",
      maxWidth: "containerWidth",
      margin: "0 auto",
      display: "flex",
      flexDirection: "column",
      gap: "1rem",
      padding: "1rem",
    })}>
    <h3
      class={css({
        textStyle: "heading3",
        color: "purple.700",
        maxWidth: "containerWidth",
      })}>
      Projects
    </h3>
    <p class={css({ textStyle: "body" })}>
      Morbi tristique senectus et netus. Id semper risus in hendrerit gravida
      rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis
      purus sit amet. Tellus molestie nunc non blandit massa. Cursus vitae
      congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna
      porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt
      lobortis. In cursus turpis massa tincidunt dui ut ornare lectus. Integer
      feugiat scelerisque varius morbi enim nunc. Bibendum neque egestas congue
      quisque egestas diam. Cras ornare arcu dui vivamus arcu felis bibendum.
      Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et
      pharetra pharetra massa massa ultricies mi.
    </p>
  </section>
</Base>
