---
import Base from "@/layouts/Base.astro";
import { css } from "@/styled-system/css";
---

<Base>
  <h3 class={css({ color: "purple.700" })}>Projects</h3>
  <p>Here are some of the projects I've worked on.</p>
</Base>
