---
import { Icon } from "astro-icon/components";
import { css } from "@/styled-system/css";
const today = new Date();
---

<footer
  class={css({
    borderTop: "1px solid",
    borderColor: "gray.300",
    marginTop: "auto",
  })}>
  <div
    class={css({
      maxWidth: "containerWidth",
      margin: "0 auto",
      padding: "1rem",
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
      gap: "1rem",
    })}>
    <p>
      &copy; {today.getFullYear()} Created by Ala. All rights reserved.
    </p>
    <div class={css({ display: "flex", gap: "1rem" })}>
      <a href='https://linkedin.com' target='_blank'>
        <span class={css({ srOnly: true })}>Linkedin profile</span>
        <Icon name='mdi:linkedin' size={32} />
      </a>
      <a href='https://github.com' target='_blank'>
        <span class={css({ srOnly: true })}>Github profile</span>
        <Icon name='mdi:github' size={32} />
      </a>
      <a href='mailto:6H2dE@example.com' target='_blank'>
        <span class={css({ srOnly: true })}>Send mail</span>
        <Icon name='mdi:email' size={32} />
      </a>
    </div>
  </div>
</footer>
