---
import HeaderLink from "./HeaderLink.astro";
import { css } from "@/styled-system/css";
---

<header class={css({ width: "100%" })}>
  <nav
    class={css({
      borderBottom: "1px solid",
      borderColor: "gray.300",
    })}>
    <div
      class={css({
        maxWidth: "containerWidth",
        margin: "0 auto",
        padding: "1rem",
        display: "flex",
        flexDirection: "column",
        justifyContent: "center",
        alignItems: "center",
        gap: "1rem",
      })}>
      <a href='/'>
        <img
          src='/cloud.svg'
          alt='Logo'
          class={css({
            width: "2rem",
            height: "2rem",
          })}
        />
      </a>
      <div class={css({ display: "flex", gap: "1rem" })}>
        <HeaderLink href='/'>Home</HeaderLink>
        <HeaderLink href='/projects'>Projects</HeaderLink>
        <HeaderLink href='/blog'>Blog</HeaderLink>
      </div>
    </div>
  </nav>
</header>
